body {
    font-family: Arial;
    }
p {
color: blue;
text-transform: upercase;
letter-spacing: 8px;
text-decoration: underline;
word-spacing: 60px;
text algin: center;
}

h1 {
color: rgb(48, 39, 85);
text-transform: upercase;
letter-spacing: 8px;
text-decoration: underline;
word-spacing: 60px;
text algin: center;
}